

{{> header }}

    {{> navbar }}

    <div class="row">
        <div class="col-md-6">
            <h1>Imagen de Perfil</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, asperiores. Enim quo tenetur exercitationem iste deleniti. Modi sint, numquam consectetur voluptatum totam inventore nesciunt assumenda corporis recusandae, dolores, ducimus eum?</p>
        </div>
        <div class="col-md-6">
            <img src="assets/img/perfil.png" class="img-thumbnail">
        </div>
    </div>

{{> footer }}